/* Global colors */

:root {
    
    /* Browns */

    --brown-100: #ede7dc;
    --brown-200: #c9c0ab;
    --brown-300: #998d7a;
    --brown-400: #807665;
    --brown-500: #5b5349;

    /* Greens */

    --green-100: #d6dcda;
    --green-200: #b4bfb3;
    --green-300: #9aa697;
    --green-400: #78877b;
    --green-500: #515850;
}