@import url("reset.css");
@import url("variables.css");

/* Primary Styles */

body {
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.thin-border {
    border-color: var(--primary-color);
    border-width: var(--border-width);
    border-style: solid;
}