@import url("colors.css");

/* Global variables */

:root {
    --bg-color: var(--green-200);
    --primary-color: var(--green-500);
    --primary-color-hover: var(--green-400);
    --border-width: 1px;
    --font-size: 1rem;
    --border-radius: 6px;
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --transition: all 0.2s ease-in-out;
}